# Lab | Inferential statistics - T-test & P-value

**Instructions**
1. [One tailed t-test](#One-tailed-t-test) - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

2. [Matched Pairs Test](#Matched-Pairs-Test) - In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result.

# OPTIONAL PART | Inferential statistics - ANOVA

Note: The following lab is divided in 2 sections which represent activities 3 and 4.

### [Part 1](#Part-1)
In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

**Context**
Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data anova_lab_data.xlsx file in the files_for_lab folder

- State the null hypothesis
- State the alternate hypothesis
- What is the significance level
- What are the degrees of freedom of model, error terms, and total DoF
- Data was collected randomly and provided to you in the table as shown: link to the image - Data

### Part 2
- In this section, use the Python to conduct ANOVA.
- What conclusions can you draw from the experiment and why?

# One tailed t-test

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
machines = pd.read_csv('files_for_lab/machine.txt', sep="\t", encoding="utf_16_le")

In [20]:
machines

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [27]:
machines.columns = ['new_machine','old_machine']
st.ttest_ind(machines['new_machine'], machines['old_machine'], equal_var=False)

Ttest_indResult(statistic=-3.397230706117603, pvalue=0.0032422494663179747)

In [26]:
machines.describe()

       new_machine  old_machine
count    10.000000    10.000000
mean     42.140000    43.230000
std       0.683455     0.749889
min      41.000000    41.700000
25%      41.800000    42.800000
50%      42.200000    43.400000
75%      42.625000    43.750000
max      43.200000    44.100000

So we can reject our null hypothesis H0 (old machine speed = new machine speed), with new_machine being a bit quicker.

# Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result.

In [29]:
pokemon = pd.read_csv('files_for_lab/pokemon.csv')

In [30]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [31]:
st.ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [32]:
pokemon[['Attack','Defense']].describe()

           Attack     Defense
count  800.000000  800.000000
mean    79.001250   73.842500
std     32.457366   31.183501
min      5.000000    5.000000
25%     55.000000   50.000000
50%     75.000000   70.000000
75%    100.000000   90.000000
max    190.000000  230.000000

Defense is generally a bit lower but has a higher upper limit.\
We have strong evidence (very low p-score) that the attack and the defence scores are statistically different.

In [114]:
p_sample = pokemon[['Attack','Defense']].sample(300)
st.ttest_rel(p_sample['Attack'], p_sample['Defense'])

Ttest_relResult(statistic=1.7801272173673401, pvalue=0.07607058945134214)

In [115]:
# when checking a smaller sample size, depending on the sample we might get a score to reject or accept the null hypothesis
# the more we increase our sample size the more often we see a value that would reject the null hypothesis (attack matches defense)

# OPTIONAL PART | Inferential statistics - ANOVA

## Part 1

In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

Context Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data anova_lab_data.xlsx file in the files_for_lab folder

- State the null hypothesis
- State the alternate hypothesis
- What is the significance level
- What are the degrees of freedom of model, error terms, and total DoF
- Data was collected randomly and provided to you in the table as shown: link to the image - Data

In [144]:
# H0 = Etching rates are the same regardless of the power used.
# H1 = Etching rates change depending on power level.
# Significance level = will take the default 0.05 significance level: pre-defining the threshold at which we'll accept or reject the H0
# What are the degrees of freedom of model, error terms, and total DoF
     # errrrrr, need to look these up and review

In [138]:
lab_data = pd.read_excel('files_for_lab/anova_lab_data.xlsx')

In [139]:
lab_data.columns = ['power','etching_rate']
lab_data['power_test'] = lab_data.groupby('power').cumcount() ##is the new index - so this can be handy

#lab_data.groupby(by=['power'], rows=['etching_rate'])
lab_data_pivot = lab_data.pivot(index='power_test', columns='power', values='etching_rate')
lab_data_pivot.columns = ['160W','180W','200W']
lab_data_pivot

            160W  180W  200W
power_test
0           5.43  6.24  8.79
1           5.71  6.71  9.20
2           6.22  5.98  7.90
3           6.01  5.66  8.15
4           5.59  6.60  7.55

In [142]:
st.f_oneway(lab_data_pivot['160W'],lab_data_pivot['180W'],lab_data_pivot['200W'])

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

In [143]:
lab_data_pivot.mean()

160W    5.792
180W    6.238
200W    8.318
dtype: float64

In [145]:
# very low P value = we reject H0 (etching rates are the same reglardless of power used) and we have strong evidence
# that the power rate does have an impact on the etching rate.